<div class="board all-activity-btn">
  <a href="#" data-action="showAllActivity" class="board-link">
    <span class="board-thumbnail-partial">
      <span class="board-preview board-color" style="background-color:#E5E5E5;"></span>
    </span> {{! .board-thumbnail-partial }}
    <span class="board-name">All Activity</span>
  </a> {{! [data-action=showAllActivity] }}
</div>
