<div class="board all-activity-btn is-selected">
  <a href="#" data-action="showAllActivity" class="board-link">
    <i class="board-avatar"></i>
    <span class="board-name">All Activity</span>
  </a> {{! [data-action=showAllActivity] }}
</div>
