<div class="notifications-empty empty-container">
  <h1 class="lead">Nothing to see here <br> <small>There's no activity for this board</small></h1>
</div> {{! .notifications-cards }}

<div class="account-page-header"></div>
<div class="notifications-list-container account-page-content-section"></div>
<div class="settings"></div>
