<div class="notifications-empty empty-container">
  <h1 class="lead">There are no notifications from this board.</h1>
</div> {{! .notifications-cards }}

<div class="account-page-header"></div>
<div class="notifications-list-container account-page-content-section"></div>
