.signup-validate-invites {
  .invitation-row {
    &:hover {
      .close { display: block; }
    }

    &:first-child {
      .close { display: none !important; }
    }

    input { width: 45%; }
    select { width: 48%; }
  }

  .close {
    display: none;
    margin-top: 6px;
  }

  [data-action="addRow"] {
    padding-left: 0;
  }
}
