.signup {
  padding: 30px;
  width: 600px;
}

.signup-form-wrapper {
  margin: 30px 0;
}

@import '_validate-account-email'
@import '_choose-email'
@import '_validate-domain'
@import '_validate-invites'
