.signup {
  background: #FFFFFF;
  height: 100%;
  margin: 150px auto;
  width: 450px;

  &.row {
    margin: 25px auto;
    width: 960px;
  }

  &.user-is-auth {
    margin: 150px auto;
    width: 350px;

    > h1,
    .signup-form-container {
      display: none;
    }
  }

  &.is-loading {
    background: url('../images/loading-content.gif') no-repeat center center #FFFFFF;
    margin: 0 auto;

    > h1,
    .invitation-container,
    .signup-form-container {
      display: none;
    }
  }
}

@import '_validate-account-email'
@import '_choose-email'
@import '_validate-domain'
@import '_validate-invites'
