.signup {
  background: #FFFFFF;
  margin: 0 auto;
  padding: 90px 0 15px;
  width: 450px;

  &.row {
    margin: 25px auto;
    width: 960px;
  }

  &.user-is-auth {
    width: 350px;

    > h1,
    .signup-form-container {
      display: none;
    }
  }

  &.is-loading {
    background: url('../images/loading-content.gif') no-repeat center center #FFFFFF;
    margin: 0 auto;

    > h1,
    .invitation-container,
    .signup-form-container {
      display: none;
    }
  }

  &.is-invite {
    .signup-form-container {
      position: static;
    }
  }
}

@import '_choose-email'
@import '_complete-signup'
@import '_validate-account-email'
