.boards__sidebar {
  background #fdfdfd;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
}

.boards-sidebar__boards {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;

  .boards-sidebar__boards-item {
    cursor: pointer;
    padding: 10px;

    &.is-selected {
      background: #eee;
    }
  }

  .boards-item__image {
    border-radius: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .boards-item__name {
    color: #999;
    font-size: 14px;
  }
}

.boards__content {
  height: 100%;
  left: 20%;
  position: absolute;
  top: 0;
  width: 80%;
}
