.board {
  &.is-editing {
    .board-preview { display: none; }
    .board-edit-form { display: block; }

    &:hover {
      .board-actions-hover { display: none !important; }
    }
  }

  &.can-edit {
    &:hover {
      .board-actions-hover { display: inline-block; }
    }
  }

  &.is-selected {
    color: #6CC8F9;
    font-weight: bold;
  }

  &.is-item { cursor: pointer; }
}

.board-name { vertical-align: middle; }

.board-preview {
  display: inline-block;
  margin-right: 10px;
}

.board-edit-form { display: none; }
.board-actions-hover { display: none; }
