.cards {
  &.is-creating-note {
    .cards-list { display: none; }
    .create-note { display: block; }
    .file-uploader-wrapper { display: none; }
  }

  &.is-creating-file {
    .cards-list { display: none; }
    .create-note { display: none; }
    .file-uploader-wrapper { display: block; }
  }
}

.cards-list {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.create-note {
  display: none;
  padding: 10px;

  [name="content"] {
    height: 200px;
  }
}

.file-uploader-wrapper {
  display: none;
}
