.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background: #fff;
  border: 1px solid #eee;
  display: none;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 110%;
}
