// Signup
// -------------------------

.signup {
  width: 500px;
  .signup__invitation-row:hover {
    [data-action="removeInvitationRow"] { display: inline-block; }
  }

  [data-action="removeInvitationRow"] { display: none; }
}
