.sub-header {
  background: #fefefe;
  border-bottom: 1px solid #efefef;
  padding: 10px;
}

.sub-header-content {
  float: left;
  width: 35%;
}

.sub-header-actions {
  float: right;
  width: 65%;
}
