<div class="page-header">
  <h3>Welcome!</h3>
</div> {{! .page-header }}

<p class="lead">You are about to set up a new team on Blimp Boards. <br> Your invitation was sent to <strong>{{email}}</strong>.</p>

<div class="form-group choose-block">
  <p>Is this the correct email address?</p>
  <button type="button" class="btn btn-default" data-action="choose">Yes, thats the right address</button>
</div> {{! .choose-block }}

<div class="form-group reject-block">
  <p class="text-muted">If that's not right you can switch to a different address. We'll need to send you a new invite.</p>
  <div class="request-signup">
    <button type="button" class="btn btn-default btn-link btn-cancel" data-action="reject">Switch to a different address</button>
  </div> {{! .request-signup }}
</div> {{! .reject-block }}
