<div class="form-group invitation-row">
  <div class="form-inline">
    <input type="text" class="invitation-field form-control" placeholder="e.g. domainname">
    {{#if signup_domains}}
      <select class="form-control" data-domain-source="true">
        {{#each signup_domains}}
          <option value="@{{this}}">@{{this}}</option>
        {{/each}}
        <option value="other">Other Domain</option>
      </select> {{! .form-control }}
    {{else}}
      {{partial "signup/templates/invitation-domain" this}}
    {{/if}}
    <button type="button" data-action="removeRow" class="close" aria-hidden="true">&times;</button>
  </div> {{! .form-inline }}
</div> {{! .form-group }}
