<div class="signup row is-loading is-invite">
  <h1>Blimp Boards <small>Sign up</small></h1>
  <div class="signup-form-container col-md-7"></div>
  <div class="invitation-container col-md-5"></div>
</div> {{! .signup }}
