<div class="form-group">
  <label for="emailInput">Email</label>
  <input id="emailInput" name="email" type="text" class="form-control" autofocus>
  <div data-error="email" class="help-block"></div>
</div> {{! .form-group }}

<div class="form-group">
  <button class="btn btn-default" data-action="request">Sign up</button>
</div> {{! .form-group }}
