<div class="form-group">
  <input name="email" type="text" class="form-control" placeholder="e.g. name@awesometeam.com" autofocus>
  <div data-error="email" class="help-block"></div>
</div> {{! .form-group }}

<div class="form-group">
  <button class="btn btn-default" data-action="request">Sign up</button>
</div> {{! .form-group }}
