<div class="page-header">
  <h3>Email Domain</h3>
</div> {{! .page-header }}

<div class="form-group allow-block">
  <label>
    <input type="checkbox" name="allow_signup" checked>
    Allow signup with company email address.
  </label>
  <p class="text-muted">You can let members of your team to sing up by themselves using their email address if you have a company/team domain name. (Otherwise you'll have send them all invites yourself).</p>
</div> {{! .form-group }}

<div class="form-group">
  <label for="signupInputEmailDomain">Your team's domain for emails</label>
  {{#if domain}}
    <div class="input-group form-group">
      <span class="input-group-addon">@</span>
      <input name="signup_domains" type="text" class="form-control" id="signupInputEmailDomain" placeholder="e.g. domain.com, domain.io" value="{{domain}}" autofocus>
    </div> {{! .input-group }}
    <div data-error="signup_domains" class="help-block"></div>
    <p class="text-muted">We guessed a domain for you based on your own email address. I you want to allow signup from multiple domains, separate with commas.</p>
  {{else}}
    <div class="input-group form-group">
      <span class="input-group-addon">@</span>
      <input name="signup_domains" type="text" class="form-control" id="signupInputEmailDomain" placeholder="e.g. domain.com, domain.io" value="{{signup_domains}}" autofocus>
    </div> {{! .input-group }}
    <div data-error="signup_domains" class="help-block"></div>
  {{/if}}
  <button class="btn btn-default" data-action="validate">Next</button>
  <button type="button" class="btn btn-link" data-action="skip">Skip</button>
</div> {{! .form-group }}
