<div class="page-header">
  <h3>Choose a username</h3>
</div> {{! .page-header }}

<div class="form-group">
  <input name="username" type="text" class="form-control" placeholder="e.g. awesomo3000" value="{{username}}" autofocus>
  <div data-error="username" class="help-block"></div>
</div> {{! .form-group }}

<div class="form-group">
  <p>Your username is how you will appear to other people on your team. Pick something others will recognize.</p>
  <button class="btn btn-default" data-action="validate">Next</button>
</div> {{! .form-group }}
