<div class="page-header">
  <h3>Full name</h3>
</div> {{! .page-header }}

<div class="form-group">
  <input name="full_name" type="text" class="form-control" placeholder="e.g. First Last" value="{{full_name}}" autofocus>
  <div data-error="full_name" class="help-block"></div>
</div> {{! .form-group }}

<div class="form-group">
  <p>This is useful to let others know who you are if they don't recognize your avatar. Please use your real name.</p>
  <button class="btn btn-default" data-action="validate">Next</button>
</div> {{! .form-group }}
