<div class="page-header">
  <h3>Choose a password</h3>
</div> {{! .page-header }}

<div class="form-group">
  <input name="password" type="password" class="form-control" autofocus>
  <div data-error="password" class="help-block"></div>
  <p>By clicking finish to create your account and use Blimp Boards you are agreeing to our <a href="#"> Terms of Service</a> and <a href="#">Privacy Policy</a>. If you do not agree you cannot use Blimp Boards.</p>
  <button class="btn btn-success" data-action="validate">Finish</button>
</div> {{! .form-group }}
