[data-action="showAllActivity"] {
  padding: 0;
}

.notifications-list-container {
  margin-bottom: 15px;
  padding: 150px 15px 15px 250px;
  position: relative;
  z-index: 1;
}

.notifications-list {
  height: 100%;
  position: relative;
  width: 100%;

  .notification:last-child {
    border-bottom: 0 none;
  }
}

[data-action="showMoreNotifications"] {
  margin-bottom: 15px;
  width: 150px;
}
