<div class="reset-password center-block">
  <h1 class="reset-password-title">Blimp Boards <small>Reset your password</small></h1>
  <div class="reset-password-form-wrapper"></div>
</div> {{! .reset-password }}
