<div class="form-group">
  <label for="passwordInput">Password</label>
  <input name="password" type="password" id="passwordInput" class="form-control" autofocus>
  <div data-error="password" class="help-block"></div>
</div> {{! .form-group }}

<div class="form-group">
  <button class="btn btn-success" data-action="reset">Reset</button>
</div> {{! .form-group }}
