<div class="home-page page-header text-center">
  <h1 class="lead">Organize anything, visually.</h1>
  <h2 class="lead text-muted">Share images, videos, files, links and notes <br> with your entire team.</h2>
  <div class="row">
    <div class="request-signup col-md-5 center-block"></div>
  </div> {{! .row }}
</div> {{! .home-page }}
