<div class="page-header text-center">
  <h1>Organize anything, visually.</h1>
  <h2><small>Share images, videos, files, links and notes with your entire team.</small></h2>
  <div class="row">
    <div class="request-signup col-md-5 center-block"></div>
  </div>
</div> {{! .page-header }}
