<div class="home-page page-header text-center container">
  <div class="row home-logo-row">
    <div class="col-sm-12">
      <div class="home-boards-logo" title="Blimp Boards">{{icon-blimp-logo}} Boards</div>
      <img src="{{asset-url}}images/screenshot.jpg" alt="Blimp Boards Screenshot" class="home-screenshot">
    </div>
  </div>
  <div class="row home-copy-row">
    <div class="col-sm-6 col-md-6  col-md-offset-1 home-copy-wrapper">
      <h2>Collaborate visually.</h2>
      <h3 class="text-muted">Share beautiful collections of files and notes for your projects, research and inspiration.</h3><br class="visible-xs">
    </div>
    <div class="col-sm-6 col-md-4 home-signup-wrapper">
      <h4>Get started free</h4>
      <div class="request-signup"></div>
    </div>
  </div>

  <div class="row home-footer">
    <div class="col-sm-12">
      <ul class="list-inline">
        <li><a href="http://twitter.com/blimp">@Blimp</a></li>
        <li><a href="http://facebook.com/getblimp">Facebook</a></li>
        <li><a href="mailto:hello@getblimp.com">Contact</a></li>
        <li><a href="http://getblimp.com/tos">Terms</a></li>
        <li><a href="http://getblimp.com/privacy">Privacy</a></li>
        <li><a href="http://github.com/getblimp/boards">Fork on GitHub</a></li>
        <li class="pull-right">© 2014 Blimp LLC</li>
      </ul>
    </div>
  </div>
</div> {{! .home-page }}
