<div class="form-group">
  <div class="input-group">
    <input name="email" type="text" class="form-control input-lg" placeholder="Enter your work email">
    <span class="input-group-btn">
      <button class="request-signup-btn btn btn-success input-lg">Get Started Free</button>
    </span> {{! .input-group-btn }}
  </div> {{! .input-group }}
  <small class="help-block" data-error="email"></small>
</div> {{! .form-group }}

<p class="text-muted">Already a Boards user? <a href="/signin/" data-route="true" class="ui-blue-link">Sign in</a></p>
