.board {
  position: relative;

  &:hover {
    [data-action="leave"],
    [data-action="delete"] {
      display: block;
    }
  }

  &.is-selected {
    .board-link {
      color: #50BEF7;
    }

    .board-name {
      display: inline-block;
      font-weight: bold;
    }
  }

  &.is-being-created {
    background: url('../images/loading.gif') no-repeat right center;
    background-size: 22px;

    .board-link {
      cursor: default;
    }

    .board-name {
      color: #768289;
    }

    .board-color {
      background-color: #E5E5E5 !important;
    }

    [data-action="leave"],
    [data-action="delete"] {
      display: none !important;
    }
  }

  [data-action="leave"],
  [data-action="delete"] {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
  }
}

.board-link {
  color: #a8bccc;
  display: block;
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: #50BEF7;
    text-decoration: none;
  }
}

.board-info {
  display: inline-block;
  vertical-align: middle;
}

.board-name,
.board-thumbnail-partial {
  vertical-align: middle;
}

.board-author {
  color: #CACACA !important;
  display: block;
  font-size: 10px;
}

.board-preview,
.board-thumbnail-partial {
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  text-align: center;
  width: 32px;
}

.board-preview {
  background-color: #E5E5E5;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.board-thumbnail-partial {
  margin-right: 5px;
  background-color: #E5E5E5;
}

.board-name {
  font-size: 13px;
  font-weight: normal;
}
