.board-detail {
  &.is-editing {
    .board-name {
      display: none;
    }

    .board-detail-edit {
      display: block;
    }
  }
}

.board-detail-info {
  .board-preview,
  .board-thumbnail-partial {
    height: 42px;
    width: 42px;
  }

  .board-name {
    display: inline-block;
    font-size: 20px;
  }
}

.board-detail-edit {
  display: none;
}

.board-detail-edit,
.board-detail-actions {
  padding: 5px 0;
}


