.board-settings-modal {
  h3 {
    margin: 0;
  }

  .modal-header {
    border: 0 none;
  }

  .modal-footer {
    margin-top: 0;
  }
}

.board-settings-modal-title {
  display: block;
  margin-bottom: 10px;
}
