.card-detail-container {
  display: none;
}

.card-detail-left,
.card-detail-right {
  margin-bottom: 25px;
}

.card {
  &.is-detail {
    cursor: inherit;

    &[data-type="note"] {
      &.is-editing {
        .card-content {
          display: none;
        }

        .note-editor-form {
          display: block;
        }
      }

      .card-content {
        font-size: 16px;
        height: auto;
        min-height: 350px;
      }

      [name="content"] {
        min-height: 350px;
      }

      .note-editor-form {
        display: none;
        margin: 15px auto;
      }

      .note-editor-preview,
      .note-editor-preview-actions {
        padding: 10px;
      }

      .note-editor-preview {
        padding-bottom: 0;
      }
    }
  }
}
