#card-detail-container {
  display: none;
  padding: 150px 15px 15px 250px;
  position: relative;
  z-index: 1;
}

.card.is-detail {
  cursor: inherit;
}

.card.is-detail[data-type="file"] {
  background: url('../images/loading-item.gif') no-repeat center center #FFFFFF;
  min-height: 150px;
  text-align: center;

  &.has-loaded-preview {
    background: #F9F9F9;

    .card-preview {
      display: inline;
    }
  }

  .card-preview {
    display: none;
    height: auto;
    width: 100%;
  }
}

.card.is-detail[data-type="note"] {
  &.is-editing {
    .card-content {
      display: none;
    }

    .note-editor-form {
      display: block;
    }
  }

  .card-content {
    font-size: 16px;
    min-height: 350px;

    img {
      display: block;
      width: 100%;
    }
  }

  [name="content"] {
    min-height: 350px;
  }

  .note-editor-form {
    display: none;
    margin: 15px auto;
  }

  .note-editor-preview,
  .note-editor-preview-actions {
    padding: 10px;
  }

  .note-editor-preview {
    padding-bottom: 0;

    img {
      display: block;
      width: 100%;
    }
  }
}
