.card-detail-left,
.card-detail-right {
  margin-bottom: 25px;
}

.card {
  &.is-detail {
    cursor: inherit;

    &[data-type="file"] {
      background: url('../images/loading-item.gif') no-repeat center center #FFFFFF;
      min-height: 150px;
      text-align: center;

      &.has-loaded-preview {
        background: #F9F9F9;

        .card-preview {
          display: inline;
        }
      }

      .card-preview {
        display: none;
        height: auto;
        max-width: 100%;
        width: auto;
      }
    }

    &[data-type="note"] {
      &.is-editing {
        .card-content {
          display: none;
        }

        .note-editor-form {
          display: block;
        }
      }

      .card-content {
        font-size: 16px;
        min-height: 350px;

        img {
          display: block;
          height: auto;
          max-width: 100%;
          width: auto;
        }
      }

      [name="content"] {
        min-height: 350px;
      }

      .note-editor-form {
        display: none;
        margin: 15px auto;
      }

      .note-editor-preview,
      .note-editor-preview-actions {
        padding: 10px;
      }

      .note-editor-preview {
        padding-bottom: 0;

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
