.card-detail-info {
  margin-bottom: 20px;

  &.is-editing {
    .card-detail-info {
      display: none;
    }

    .card-detail-edit {
      display: block;
    }
  }
}

.card-detail-info-name {
  font-size: 22px;
  margin: 0;
}

.card-detail-edit {
  display: none;
}
