.card {
  cursor: pointer;
  height: 222px;
  position: relative;
  overflow: hidden;
  width: 222px;

  &:hover {
    .card-actions {
      display: block;
    }
  }

  &.is-featured {
    height: 459px;
    width: 459px;
  }

  &.is-detail {
    height: auto;
    margin: 0;
    width: 100%;
  }
}

.card-info {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%
  z-index: 5;
}

.card-info-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-name {
  color: #6c6c6c;
  font-size: 14px;
}

.card-author,
.card-comments {
  color: #BBBBBB;
  font-size: 11px;
}

.card-actions {
  background: #FFF;
  display: none;
  right: 10px;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 15;
}
