.card-detail-actions-back {
  color: #333;
  display: block;
}

.card-detail-actions-back-avatar {
  &, .board-preview {
    height: 42px;
    margin-right: 10px;
    width: 42px;
    vertical-align: top;
  }
}

.card-detail-actions-back-text {
  display: inline-block;

  small {
    display: block;
    margin-bottom: -2px;
  }
}

.card-detail-actions-board {
  font-size: 21px;
}
