.collaborator {
  border-top: 1px solid #E5E5E5;
  padding: 10px 0;

  &.is-owner {
    .collaborator-permissions {
      padding-right: 45px;
    }
  }
}

.collaborator-avatar {
  background: #E5E5E5;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  margin-right: 5px;
  width: 32px;
  vertical-align: middle;
}

.collaborator-permissions {
  margin: 0 15px;
  padding: 5px 15px 5px 0;

  .dropdown-toggle {
    color: #555;
  }
}

.collaborator-permissions-toggle-text {
  display: inline-block;
  text-align: left;
  width: 60px;
}

button[data-action="removeCollaborator"] {
  padding: 3px 0;
}
