.comment {
  &:hover {
    .comments-actions {
      display: inline-block;
    }
  }

  &.is-editing {
    .comment-content-wrapper {
      display: none;
    }

    .comment-edit {
      display: block;
    }
  }
}

.comment-creator-avatar {
  float: left;
}

.comment-edit,
.comment-content-wrapper {
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  margin: 0 0 15px 42px;
  padding: 10px;
}

.comment-info {
  margin-bottom: 10px;
}

.comment-content {
  margin: 0;
}

.comment-edit {
  display: none;
}

.comments-actions {
  display: none;
  margin-bottom: -2px;
}
