.comment-creator-avatar {
  float: left;
}

.comment-content-wrapper {
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  margin: 0 0 15px 42px;
  padding: 10px;
}

.comment-info {
  margin-bottom: 10px;
}

.comment-content {
  margin: 0;
}

