.public-comments-wrapper {
  display: none;
}

.comments-toggler {
  display: block;
  margin-bottom: 15px;

  .dropdown-toggle {
    padding-left: 0;
    padding-right: 0;
  }
}

.collaborator-comments {
  min-height: 35px;

  &.is-loading {
    background: url('../images/loading.gif') no-repeat center top;
    background-size: 22px;
    min-height: 45px;

    .comments-list {
      display: none !important;
    }
  }
}
