.account-page-content-wrapper {
  &.is-empty {
    background: url('../images/empty.png') repeat center center #FFFFFF;

    .boards-empty {
      display: block !important;
    }

    .account-page-sidebar,
    .account-page-content {
      display: none !important;
    }
  }

  &.is-full-width {
    .account-page-sidebar {
      display: none;
    }

    .account-page-header {
      padding: 78px 15px 15px 15px;
    }

    .account-page-content-section,
    .card-detail-container {
      padding: 150px 15px 15px 15px;
    }

    .cards-empty {
      margin-left: -140px;
    }
  }
}

.account-page-content {
  height: 100%;
  width: 100%;

  &.is-loading {
    background: url('../images/loading-content.gif') no-repeat center center #FFFFFF;

    .account-page-header,
    .account-page-content-section {
      display: none !important;
    }
  }

  &.is-empty {
    background: url('../images/empty.png') repeat center center #FFFFFF;

    .cards-empty {
      display: block !important;
    }

    .account-page-content-section {
      display: none !important;
    }
  }

  &.can-edit {
    .cards-empty .edit-control {
      display: block !important;
    }
  }
}

.account-page-content-section {
  height: 100%;
  margin-bottom: 15px;
  padding: 150px 15px 15px 250px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.empty-container {
  display: none;
  height: 155px;
  left: 50%;
  margin: -77px 0 0 -187px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 375px;

  h1 {
    font-size: 32px;
    margin: 0 auto 25px;
  }

  .edit-control {
    display: none;
  }
}

.cards-empty {
  height: 185px;
  margin: -92px 0 0 -40px;
  width: 280px;

  h1 {
    margin: 0 auto;
  }

  p {
    font-size: 18px;
    margin: 15px auto 20px;
  }

  label {
    margin: 0 8px;
  }
}
