.create-comment {
  &.is-open {
    textarea.create-comment-input {
      height: auto;
    }

    .create-comment-actions {
      display: block;
    }
  }
}

textarea.create-comment-input {
  height: 34px;
}

.create-comment-actions {
  display: none;
}
