.create-comment {
  &.is-open {
    .create-comment-actions {
      display: block;
    }
  }
}

.create-comment-creator-avatar {
  float: left;
}

.create-comment-actions,
.create-comment-input-wrapper {
  margin-left: 42px;
}

textarea.create-comment-input {
  min-height: 35px;
  vertical-align: top;
}

.create-comment-actions {
  display: none;
}
