.create-board {
  &.is-creating {
    .create-board-form {
      display: block;
    }

    .create-board-actions {
      display: none;
    }
  }

  .create-board-form {
    display: none;
  }

  .icon-add {
    margin-right: 2px;
    top: 0px;
    vertical-align: bottom;
  }
}
