.card[data-type="file"] {
  background: url('../images/loading.gif') no-repeat center 48%;
  background-size: 32px;

  &.is-uploading {
    border: 4px dashed #E0E0E0;

    .card-upload-progress {
      display: block;
    }
  }

  &.has-loaded-preview {

    .card-preview,
    .card-preview-extension {
      display: block;
    }
  }

  &.is-item {
    &.is-featured {
      .card-preview {
        height: 412px;
      }
    }
  }

  &.is-detail {
    background: url('../images/loading.gif') no-repeat center center #faf9fc;
    background-size: 32px;
    min-height: 150px;
    text-align: center;

    &.has-loaded-preview {
      background: #faf9fc;
      height: 200px;

      &.has-preview {
        height: auto;
        min-height: inherit;
      }

      a[data-action="view-original"] {
        display: block;
      }

      img.card-preview {
        display: inline;
      }

      div.card-preview {
        height: 200px;
      }
    }

    img.card-preview {
      display: none;
      height: auto;
      max-width: 100%;
      position: relative;
      width: auto;
    }

    .card-preview {
      background-size: auto auto !important;
    }

    .card-preview-extension {
      margin-top: 0;
    }
  }
}

.card-upload-progress {
  background: #faf9fc;
  border: 4px solid transparent;
  border-radius: 50%;
  color: #9B9A9B;
  display: none;
  height: 55px;
  left: 50%;
  margin: -35px 0 0 -27.5px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 55px;
  z-index: 10;

  & > svg {
    left: -4px;
    position: absolute;
    top: -4px;
    z-index: 1;
  }
}

.card-preview {
  background-color: #faf9fc;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: none;
  height: 174px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  &[data-pattern] {
    background-repeat: repeat;
  }

  &[data-pattern="1"] {
    background-image: url('../images/patterns/1.svg');
  }

  &[data-pattern="2"] {
    background-image: url('../images/patterns/2.svg');
  }

  &[data-pattern="3"] {
    background-image: url('../images/patterns/3.svg');
  }

  &[data-pattern="4"] {
    background-image: url('../images/patterns/4.svg');
  }

  &[data-pattern="5"] {
    background-image: url('../images/patterns/5.svg');
  }

  &[data-pattern="6"] {
    background-image: url('../images/patterns/6.svg');
  }

  &[data-pattern="7"] {
    background-image: url('../images/patterns/7.svg');
  }

  &[data-pattern="8"] {
    background-image: url('../images/patterns/8.svg');
  }

  &[data-pattern="9"] {
    background-image: url('../images/patterns/9.svg');
  }
}

.card-preview-loader {
  display: none;
}

.card-preview-extension {
  color: #FFFFFF;
  display: none;
  font-family: "Helvetica Neue", HelveticaNeue-UltraLight;
  font-size: 60px;
  font-weight: 100;
  left: 0;
  margin-top: -30px;
  line-height: 0;
  text-align: center;
  text-transform: lowercase;
  top: 50%;
  position: absolute;
  z-index: 10;
  width: 100%;
}
