.invite-collaborators-form {
  background: #F0F0F0;
  border-radius: 3px;
  padding: 15px;

  &.is-active {
    [data-action="showActions"] {
      display: none !important;
    }

    .invite-collaborator-actions {
      display: block !important;
    }
  }
}

[data-action="addInvitationRow"] {
  padding: 5px 0 0 0;
}

.invite-collaborator-title {
  display: block;
  margin-bottom: 15px;
}

.invite-collaborator-rows {
  margin-bottom: -15px;
}

.invite-collaborator-row {
  margin-bottom: 15px;
  position: relative;

  &:first-child {
    [data-action="removeCollaborator"] {
      display: none;
    }
  }

  [name="invitee"] {
    width: 400px;

    &.is-loading {
      background: url('../images/loading-item.gif') no-repeat 97% center #FFFFFF;
    }
  }

  .collaborator-permissions {
    padding: 0;
  }
}

.invite-collaborator-actions {
  display: none;
  margin-top: 15px;
}
