.card[data-type="note"] {
  .card-content {
    border: 1px solid #EFEFEF;
    height: 174px;
    padding: 10px;
    overflow: hidden;
  }

  .card-modified-notification {
    color: #9B9B9B;
    font-size: 11px;
    padding: 10px 0;
  }
}
