.share-board-toggle-form {
  &.is-shared {
    .share-board-toggle-actions {
      display: block;
    }
  }
}

.share-board-toggle-title {
  display: block;
  margin-bottom: 10px;
}

.share-board-toggle-option {
  border-top: 1px solid #E5E5E5;
  padding: 10px 0 8px;

  > label {
    margin: 0;
  }
}

.share-board-toggle-option-text {
  margin: 0 0 0 15px;

  > small {
    font-weight: normal;
  }
}

.share-board-toggle-actions {
  display: none;
  margin-top: 10px;
  padding-left: 25px;
}

.share-board-toggle-actions-text {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.share-board-toggle-actions-btn {
  margin-right: 10px;
  width: 120px;
}
