.sharing-modal {
  h3 {
    margin: 0 0 25px;
  }
}

.sharing-settings-form {
  &.is-shared {
    .sharing-settings-actions {
      display: block;
    }
  }
}

.sharing-settings-title {
  display: block;
  margin-bottom: 5px;
}

.sharing-option {
  border-top: 1px solid #E5E5E5;
  padding: 10px 0 8px;

  > label {
    margin: 0;
  }
}

.sharing-option-text {
  margin: 0 0 0 15px;

  > small {
    font-weight: normal;
  }
}

.sharing-settings-actions {
  display: none;
  margin-top: 10px;
  padding-left: 25px;
}

.sharing-settings-actions-text {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.sharing-settings-actions-btn {
  margin-right: 10px;
  width: 120px;
}

.invite-setting {
  background: #F0F0F0;
  border-radius: 3px;
  padding: 15px;
}
