.account-page-sidebar {
  background: #FFFFFF;
  left: 0;
  padding: 63px 15px 0;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 10;
}

.account-page-sidebar-actions {
  padding: 20px 0 15px;
}
