.account-page {
  height: 100%;
  width: 100%;

  &.is-loading {
    background: url('../images/loading-content.gif') no-repeat center center #FFFFFF;

    .header,
    .account-page-content {
      display: none;
    }
  }
}

.account-page-content-wrapper {
  height: 100%;
  width: 100%;

  &.is-loading {
    background: url('../images/loading-content.gif') no-repeat center center #FFFFFF;

    .account-page-sidebar,
    .account-page-content {
      display: none;
    }
  }
}

@import '_sidebar'
@import '_content'
@import '_content-header'

@import '_card'
@import '_board'
@import '_comment'
@import '_comments'
@import '_cards-list'
@import '_boards-list'
@import '_note-editor'
@import '_card-detail'
@import '_create-board'
@import '_board-detail'
@import '_collaborator'
@import '_item-actions'
@import '_file-uploader'
@import '_create-comment'
@import '_card-detail-info'
@import '_share-board-modal'
@import '_share-board-toggle'
@import '_card-detail-actions'
@import '_collaborator-suggestions'
@import '_invite-collaborator-form'
