<button type="button" class="navbar-toggle pull-left" data-action="toggleSidebar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button> {{! [data-action="toggleSidebar"] }}

<div class="board-detail-info">
  <span class="board-thumbnail-partial">
    {{partial "account/templates/board-preview" this}}
  </span> {{! .board-thumbnail-partial }}
  <strong class="board-name">{{name}}</strong>
</div> {{! .board-detail-info }}
