<button type="button" class="navbar-toggle pull-left" data-action="toggleSidebar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button> {{! [data-action="toggleSidebar"] }}

<div class="board-detail-info">
  <img class="board-avatar" src="{{avatar}}">
  <strong class="board-name" data-action="edit">{{name}}</strong>
</div> {{! .board-detail-info }}
