<div class="card-detail-info">
  <h1 class="card-detail-info-name" data-action="edit">{{name}}</h1>
  <small class="card-detail-creator text-muted">{{author.username}}</small>
  <small class="text-muted">&middot;</small>
  <small class="card-detail-info-date text-muted">{{time}}</small>
</div> {{! .card-detail-info }}
