{{#if hasNoPreview}}
  <div class="card-extension">{{extension}}</div>
{{/if}}

<div class="card-preview" style="background-image:url({{preview}})"></div>

<div class="card-name-wrapper">
  <span class="card-name">{{name}}</span>
</div> {{! .card-name-wrapper }}
