<div class="card-preview-wrapper">
  {{partial "account/templates/file-preview" this}}
</div> {{! .card-preview-wrapper }}

<div class="card-name-wrapper">
  <span class="card-name">{{name}}</span>
</div> {{! .card-name-wrapper }}
