<div class="account-page is-public is-loading">
  {{partial "core/templates/loader" "Loading App"}}
  <div class="main">
    <div class="header clearfix">
      <div class="current-account pull-left"></div>
      <div class="user-dropdown-wrapper pull-right"></div>
    </div> {{! .header }}
    <div class="content-wrapper boards-full-width clearfix">
      <div class="sidebar">
        <div class="create-board-wrapper"></div>
        <div class="boards-list-wrapper"></div>
      </div> {{! .sidebar }}
      <div class="content">
        <div class="content-header-wrapper clearfix">
          <div class="content-header"></div>
        </div> {{! .content-header-wrapper }}
        {{partial "public-board/templates/board-not-found"}}
        <div class="cards-wrapper">
          {{partial "core/templates/loader" "Fetching Cards"}}
          {{partial "public-board/templates/empty-cards"}}
          <div class="cards-list-wrapper"></div>
          <div class="card-detail-wrapper row">
            <div class="card-detail-left col-md-8"></div>
            <div class="card-detail-right col-md-4">
              <div class="card-detail-info-wrapper"></div>
              <div class="create-comment-wrapper"></div>
              <div class="comments-wrapper"></div>
            </div> {{! .card-detail-right }}
          </div> {{! .card-detail-wrapper }}
        </div> {{! .cards-wrapper }}
      </div> {{! .content }}
    </div> {{! .content-wrapper }}
  </div> {{! .main }}
</div> {{! .account-page }}
