.settings-modal {
  h3 {
    margin: 0 0 25px;
  }

  .modal-header,
  .modal-footer {
    boder: 0 none;
  }

  .form-group {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: 0 none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .control-label {
      text-align: left;
    }
  }
}
