<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8 text-center">
    <button type="button" class="btn btn-danger">Cancel your user account</button> <br> <br>
    <small class="text-muted">This will cancel your user account. After you click the button we will erase your account. This cannot be undonde.</small>
  </div> {{! .col-sm-offset-2 }}
</div> {{! .form-group }}
