<div class="settings-modal modal" id="settings-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="ui-modal-alert"></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Settings</h3>
        <div class="settings-sections btn-group btn-group-justified">
          <div class="btn-group">
            <button type="button" class="btn btn-default" data-action="showGeneral">General</button>
          </div> {{! .btn-group }}
          <div class="btn-group">
            <button type="button" class="btn btn-default" data-action="showAccounts">Accounts</button>
          </div> {{! .btn-group }}
          <div class="btn-group">
            <button type="button" class="btn btn-default" data-action="showNotifications">Notiﬁcations</button>
          </div> {{! .btn-group }}
          <div class="btn-group">
            <button type="button" class="btn btn-default" data-action="showPassword">Password</button>
          </div> {{! .btn-group }}
          <div class="btn-group">
            <button type="button" class="btn btn-default" data-action="showAdvanced">Advanced</button>
          </div> {{! .btn-group }}
        </div> {{! .settings-sections }}
      </div> {{! .modal-header }}
      <div class="modal-body"></div>
    </div> {{! .modal-content }}
  </div> {{! .modal-dialog }}
</div> {{! #settings-modal }}
