<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="checkbox">
      <label>
        <input type="checkbox" checked> Enable all email notifiactions <br>
        <small class="text-muted">Un-check to disable all email notifications</small>
      </label>
    </div> {{! .checkbox }}
  </div> {{! .col-sm-offset-2 }}
</div> {{! .form-group }}

<div class="form-group">
  <div class="col-sm-12">
    <button class="btn btn-default" data-action="save">Save</button>
    <button type="button" class="btn btn-link btn-cancel" data-action="cancel">Cancel</button>
  </div> {{! .col-sm-12 }}
</div> {{! .form-group }}
