<div class="form-group">
  <label for="userPasswordCurrent" class="col-sm-3 control-label">Current password</label>
  <div class="col-sm-9">
    <input type="password" class="form-control" id="userPasswordCurrent">
    <div><small data-error="currentPassword" class="help-block"></small></div>
  </div> {{! .col-sm-9 }}
</div> {{! .form-group }}

<div class="form-group">
  <label for="userPasswordNew" class="col-sm-3 control-label">New password</label>
  <div class="col-sm-9">
    <input type="password" class="form-control" id="userPasswordNew">
    <div><small data-error="newPassword" class="help-block"></small></div>
  </div> {{! .col-sm-9 }}
</div> {{! .form-group }}

<div class="form-group">
  <label for="userPasswordRepeat" class="col-sm-3 control-label">Confirm new password</label>
  <div class="col-sm-9">
    <input type="password" class="form-control" id="userPasswordRepeat">
    <div><small data-error="confirmPassword" class="help-block"></small></div>
  </div> {{! .col-sm-9 }}
</div> {{! .form-group }}

<div class="form-group">
  <div class="col-sm-12">
    <button class="btn btn-default" data-action="save">Save</button>
    <button type="button" class="btn btn-link btn-cancel" data-action="cancel">Cancel</button>
  </div> {{! .col-sm-12 }}
</div> {{! .form-group }}
