<button type="button" class="navbar-toggle pull-left" data-action="toggleSidebar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button> {{! [data-action="toggleSidebar"] }}

<div class="board-detail-info pull-left">
  <img class="board-avatar" src="{{avatar}}">
  <strong class="board-name ui-editable" data-action="edit">{{name}}</strong>
</div> {{! .board-detail-info }}

<form class="board-detail-edit form-inline pull-left">
  <div class="form-group">
    <input name="name" type="text" class="form-control" placeholder="e.g. Design" value="{{name}}" autofocus>
    <button class="btn btn-default" data-action="save">Done</button>
    <button type="button" class="btn btn-default" data-action="cancel">Cancel</button>
    <button type="button" class="btn btn-danger" data-action="delete">Delete</button>
    <div data-error="name" class="help-block"></div>
  </div> {{! .form-group }}
</form> {{! .board-detail-edit }}

<div class="board-detail-action item-actions form-inline pull-right">
  <div class="btn-group">
    <button type="button" data-toggle="dropdown" class="btn btn-link dropdown-toggle item-action">
      Add Card <span class="caret"></span>
    </button> {{! [data-toggle="dropdown"] }}
    <ul class="dropdown-menu" role="menu">
      <li><a class="item-action" href="#" data-action="createFile">File</a></li>
      <li><a class="item-action" href="#" data-action="createNote" data-toggle="modal" data-target="#create-note-modal">Note</a></li>
    </ul> {{! .dropdown-menu }}
  </div> {{! .dropdown }}
  <button type="button" class="btn btn-link item-action" data-action="share" data-toggle="modal" data-target="#share-board-modal">Share</button>
</div> {{! .board-detail-info }}
