<div class="board-collaborators-modal board-settings-modal modal" id="board-collaborators-modal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="ui-modal-alert"></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Collaborator Settings</h3>
      </div> {{! .modal-header }}
      <div class="modal-body">
        <strong class="board-settings-modal-title">People collaborating on this board</strong>
        <div class="board-collaborators-list"></div>
        <div class="board-collaborators-invite"></div>
      </div> {{! .modal-body }}
    </div> {{! .modal-content }}
  </div> {{! .modal-dialog }}
</div> {{! #board-collaborators-modal }}

