{{#if thumbnail_xs_path}}
  <img class="board-preview board-thumbnail" src="{{thumbnail_xs_path}}">
{{else}}
  <span class="board-preview board-color" style="background-color:{{color}};"></span>
{{/if}}
