{{#if thumbnail_xs_path}}
  <div class="board-preview board-thumbnail" style="background-image:url({{thumbnail_xs_path}});"></div>
{{else}}
  <span class="board-preview board-color" style="background-color:{{color}};"></span>
{{/if}}
