<a href="{{url}}" class="board-link" title="{{name}}">
  <span class="board-thumbnail-partial">
    {{partial "account/templates/board-preview" this}}
  </span> {{! .board-thumbnail-partial }}
  <span class="board-name">{{name}}</span>
</a> {{! .board-link }}

<button class="btn btn-danger btn-xs" type="button" data-action="delete">Delete</button>
