<div class="card-detail-info">
  <h1 class="card-detail-info-name ui-editable" data-action="edit">{{name}}</h1>
  <small class="card-detail-creator text-muted">{{author.username}}</small>
  <small class="text-muted">&middot;</small>
  <small class="card-detail-info-date text-muted">{{time}}</small>
</div> {{! .card-detail-info }}

<form class="card-detail-edit">
  <div class="form-group">
    <input name="name" type="text" class="form-control" placeholder="e.g. Idea" value="{{name}}" autofocus>
  </div> {{! .form-group }}
  <div class="form-group">
    <button class="btn btn-default" data-action="save">Done</button>
    <button type="button" class="btn btn-link btn-cancel" data-action="cancel">Cancel</button>
    <div data-error="name" class="help-block"></div>
  </div> {{! .form-group }}
</form> {{! .card-detail-edit }}
