<div class="comment-info">
  <img src="{{creator.avatar}}" alt="avatar" class="ui-avatar">
  <span class="comment-creator">{{creator.name}}</span>
  <small class="comment-date text-muted">{{time}}</small>
</div> {{! .comment-info }}

<p class="comment-content">{{content}}</p>
