<img src="{{author.gravatar_url}}" alt="avatar" class="comment-creator-avatar ui-avatar">

<div class="comment-content-wrapper">
  <div class="comment-info">
    <span class="comment-creator">{{author.username}}</span>
    <small class="comment-date text-muted">{{time}}</small>
  </div> {{! .comment-info }}

  <div class="comment-content markdown">{{markdown content}}</div>
</div> {{! .comment-content-wrapper }}
