<div class="public-comments-wrapper">
  <div class="comments-toggler btn-group clearfix">
    <button type="button" class="btn btn-link dropdown-toggle pull-right" data-toggle="dropdown">
      <span class="current-comments-type">Comments from collaborators</span>
      <span class="caret"></span>
    </button> {{! .dropdown-toggle }}
    <ul class="dropdown-menu pull-right" role="menu">
      <li><a href="#" data-comments="public">Comments from public</a></li>
      <li><a href="#" data-comments="collaborators">Comments from collaborators</a></li>
    </ul> {{! .dropdown-menu }}
  </div> {{! .comments-toggler }}

  <div class="public-comments-container"></div>
</div> {{! .public-comments-wrapper }}

<div class="collaborator-comments-container">
  <div class="create-comment-container"></div>
  <div class="collaborator-comments"></div>
</div> {{! .collaborator-comments }}

