<div class="note-modal modal" id="create-note-modal">
  <div class="create-note-modal modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="create-note-container" class="modal-body"></div>
    </div> {{! .modal-content }}
  </div> {{! .modal-dialog }}
</div> {{! #create-note-modal }}
