<form class="create-comment-form clearfix">
  <img src="{{creator.gravatar_url}}" alt="avatar" class="create-comment-creator-avatar ui-avatar">
  <div class="create-comment-input-wrapper form-group">
    <textarea name="content" class="form-control create-comment-input" placeholder="Write a comment..."></textarea>
    <div data-error="content" class="help-block"></div>
  </div> {{! .create-comment-input-wrapper }}
  <div class="create-comment-actions form-group">
    <button class="btn btn-default">Post</button>
    <button type="button" data-action="cancel" class="btn btn-link btn-cancel">Cancel</button>
  </div> {{! .create-comment-actions }}
</form> {{! .create-comment-form }}
