<form class="create-comment-form">
  <div class="form-group">
    <textarea name="content" class="form-control create-comment-input" placeholder="Write a comment..."></textarea>
    <div data-error="content" class="help-block"></div>
  </div> {{! .form-group }}
  <div class="form-group create-comment-actions">
    <button class="btn btn-default">Post</button>
    <button type="button" data-action="cancel" class="btn btn-link">Cancel</button>
  </div> {{! .form-group }}
</form> {{! .create-comment-form }}
