<div class="create-note-modal modal-dialog">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-body create-note-wrapper"></div>
  </div> {{! .modal-content }}
</div> {{! .modal-dialog }}
