<div class="link-modal modal" id="create-link-modal">
  <div class="create-link-modal modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="create-link-container" class="modal-body"></div>
    </div> {{! .modal-content }}
  </div> {{! .modal-dialog }}
</div> {{! #create-link-modal }}
