<div class="empty-boards">
  <h1 class="lead">You don’t have any boards <br> <small>Start by creating a board</small></h1>
  <button type="button" data-action="createFirstBoard" class="btn btn-default">Create Board</button>
</div> {{! .empty-boards }}
