<button type="button" class="navbar-toggle pull-left" data-action="toggleSidebar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button> {{! [data-action="toggleSidebar"] }}

<div class="pull-left">
  <a href="{{boardUrl}}" class="card-detail-actions-back" data-action="back">
    <span class="board-thumbnail-partial card-detail-actions-back-avatar">
      {{partial "account/templates/board-preview" boardPreview}}
    </span> {{! .board-thumbnail-partial }}
    <div class="card-detail-actions-back-text">
      <small class="text-muted">BACK TO</small>
      <strong class="card-detail-actions-board">{{boardName}}</strong>
    </div> {{! .card-detail-actions-back-text }}
  </a> {{! .card-detail-actions-back }}
</div> {{! .pull-left }}

<div class="pull-right">
  <button type="button" class="btn btn-link item-action" data-action="download">Download</button>
  <button type="button" class="btn btn-link item-action" data-action="delete">Delete</button>
</div> {{! .pull-right }}
