<strong class="invite-collaborator-title">Invite people</strong>

<div class="invite-collaborator-rows">
  {{partial "account/templates/invite-collaborator-row"}}
</div> {{! .invite-collaborator-rows }}

<button type="button" class="btn btn-link" data-action="addInvitationRow">Add more</button>

<div class="invite-collaborator-actions">
  <button class="btn btn-default" data-action="send">Send</button>
  <button type="button" class="btn btn-link" data-action="cancel">Cancel</button>
</div> {{! .invite-collaborator-actions }}
