<div class="account-page is-loading">
  {{partial "core/templates/header" this}}

  <div class="account-page-content-wrapper is-loading">
    <div class="boards-empty empty-container">
      <h1 class="lead">You don’t have any boards <br> <small>Start by creating a board</small></h1>
      <button type="button" data-action="createFirstBoard" class="btn btn-default">Create Board</button>
    </div> {{! .boards-empty }}

    <div class="account-page-sidebar">
      <div class="create-board-container account-page-sidebar-actions"></div>
      <div class="boards-list-container account-page-sidebar-list"></div>
    </div> {{! .account-page-sidebar }}

    <div class="account-page-content is-loading">
      <div class="cards-empty empty-container">
        <h1 class="lead">This board is empty <br> <small class="edit-control">Start by creating a few cards</small></h1>
        <p class="text-muted edit-control">Drop files here</p>
        <div class="form-inline edit-control">
          <button type="button" data-action="createFirstFile" class="btn btn-default">Choose Files</button>
          <label>or</label>
          <button type="button" data-action="createFirstNote" class="btn btn-default">Create Note</button>
        </div> {{! .form-inline }}
      </div> {{! .empty-cards }}

      <div class="account-page-header"></div>
      <div class="cards-list-container account-page-content-section"></div>

      <div class="card-detail-container account-page-content-section row">
        <div class="card-detail-left col-md-8"></div>
        <div class="card-detail-right col-md-4">
          <div class="card-detail-info-container"></div>
          <div class="card-detail-comments"></div>
        </div> {{! .card-detail-right }}
      </div> {{! .card-detail-container }}
    </div> {{! .account-page-content }}

    {{partial "account/templates/create-note-modal"}}
    <div class="file-uploader"></div>
  </div> {{! .account-page-content-wrapper }}

  <div class="settings"></div>
  <div class="share-board"></div>
</div> {{! .account-page }}
