<div class="card-actions">
  <button type="button" class="btn btn-default btn-xs" data-action="highlight">Highlight</button>
  <button type="button" class="btn btn-danger btn-xs" data-action="delete">Delete</button>
</div> {{! .card-actions }}

<div class="card-content markdown">{{markdown content}}</div>

<div class="card-info">
  <div class="card-info-item card-name">{{name}}</div>
  <div class="card-info-item card-author">Added by {{created_by.username}}</div>
  <div class="card-info-item card-comments">{{inflect comments_count "comment" "comments" true}}</div>
</div> {{! .card-info }}
