<div class="pull-left">
  <a href="{{boardUrl}}" class="card-detail-actions-back" data-action="back">
    <small class="text-muted">BACK TO</small>
    <strong class="card-detail-actions-board">{{boardName}}</strong>
  </a>
</div> {{! .pull-left }}

<div class="pull-right">
  <button type="button" class="btn btn-link" data-action="highlight">Highlight</button>
  <button type="button" class="btn btn-link" data-action="share">Share</button>
  <button type="button" class="btn btn-link" data-action="edit">Edit</button>
  <button type="button" class="btn btn-link" data-action="delete">Delete</button>
</div> {{! .pull-right }}
