<div class="card-modified-notification">
  Last edited by <strong class="card-modified-notification-modifier">{{modified_by.username}}</strong> <span class="card-modified-notification-time">{{time_modified}}</span>
</div> {{! .card-modified-notification }}
<div class="card-content markdown">{{markdown content}}</div>
{{partial "account/templates/note-editor" this}}
