<div class="card-actions">
  <button type="button" class="btn btn-default btn-xs" data-action="highlight">Highlight</button>
  <button type="button" class="btn btn-danger btn-xs" data-action="delete">Delete</button>
</div> {{! .card-actions }}

<div class="card-content">{{markdown-preview content}}</div>

<div class="card-name-wrapper">
  <span class="card-name">{{name}}</span>
</div> {{! .card-name-wrapper }}
