<div class="pull-left">
  <a href="{{boardUrl}}" class="card-detail-actions-back" data-action="back">
    <img class="card-detail-actions-back-avatar board-avatar" src="{{boardAvatar}}">
    <div class="card-detail-actions-back-text">
      <small class="text-muted">BACK TO</small>
      <strong class="card-detail-actions-board">{{boardName}}</strong>
    </div> {{! .card-detail-actions-back-text }}
  </a> {{! .card-detail-actions-back }}
</div> {{! .pull-left }}

<div class="pull-right">
  <button type="button" class="btn btn-link" data-action="edit">Edit</button>
  <button type="button" class="btn btn-link" data-action="delete">Delete</button>
</div> {{! .pull-right }}
