html,
body {
  color: #555;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

a,
input,
button {
  outline: none !important;
}

a {
  color: #CACACA;

  &:hover,
  &:focus,
  &:active {
    color: #393939;
    text-decoration: none;
  }
}

textarea {
  resize: vertical;
}

[data-error] {
  display: none;
}

button.btn.active {
  box-shadow: none;
}

input[readonly],
textarea[readonly] {
  cursor: text !important;
}
