.header {
  border-bottom: 1px solid #EDEDED;
  padding: 10px 0;

  .navigation {
    &.pull-left {
      border-left: 1px solid #EDEDED;
    }

    margin: 0 0 0 15px;
    padding: 6px 0 6px 10px;
  }

  .navigation-item-text {
    font-size: 12px;
    text-transform: uppercase;
  }
}
