.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #EDEDED;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  .navigation {
    &.pull-left {
      border-left: 1px solid #EDEDED;
    }

    margin: 0 0 0 15px;
    padding: 6px 0 6px 10px;
  }

  .navigation-item-link {
    &.is-selected {
      color: #000000;
    }
  }

  .navigation-item-text {
    font-size: 12px;
    text-transform: uppercase;
  }
}
