$icon-color = #768289;
$icon-color-hover = #59646B;

// Position
.svg-icon-wrapper {
    position: relative;
    top: 3px;
}

// Color stuff
.svg-icon-color {
    fill: $icon-color;
}

// Hover stuff
a:hover, button:hover {
    .svg-icon-wrapper > .svg-icon-color {
        fill: $icon-color-hover;
    }
}

.icon-sidebar-close,
.icon-sidebar-open {
    top: -2px;

    .svg-icon-color {
        fill: #b6c8d5 !important;
    }
}
