.modal-backdrop {
  background-color: rgba(255,255,255,1);
  opacity: .9 !important;
}

.modal-header {
  border: 0 none;

  .close {
    font-size: 30px;
    padding: 10px;
    position: relative;
    right: -25px;
    top: -50px;
  }
}

.modal-content {
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  padding: 40px 20px;
}

.modal-body {
  padding-bottom: 0;
}

.sharing-modal,
.create-note-modal {
  [data-dismiss="modal"] {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 5;
  }
}

.btn-group {
  .btn.btn-default {
    background-color: #F6F6F6;
  }
}
