.modal-backdrop {
  background-color: #FDFDFD;
}

.modal-content {
  border-color: #CCC;
  box-shadow: none;
  border-radius: 3px;
}

.sharing-modal,
.create-note-modal {
  [data-dismiss="modal"] {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 5;
  }
}
