.modal-backdrop {
  background-color: rgba(255,255,255,1);
  opacity: .9 !important;
}

.modal-header {
  border:0;

  .close {
    position:relative;
    top: -60px;
    right: -55px;
    padding: 10px;
    font-size: 30px;
  }
}

.modal-content {
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  border-radius: 0;
  padding:50px;
}

.modal-body {
  padding-bottom:0;
}

.sharing-modal,
.create-note-modal {
  [data-dismiss="modal"] {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 5;
  }
}

.btn-group {
  .btn.btn-default {
    background-color: #f6f6f6;
  }
}
