input.error,
.textarea.error {
  border-color: #B5313A;
}

[data-error] {
  color: #B5313A;
}

.ui-avatar {
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  margin-right: 5px;
  width: 32px;

  &.sm {
    height: 22px;
    width: 22px;
  }
}
