<div class="signup__step" data-step="3">
  <p>You are creating an account using this email: {{email}}.</p>
  <button type="button" data-action="redirectToFirstStep" class="btn btn-default">Use a different email</button> <br> <br>
  <button type="button" data-action="redirectToFourthStep" data-next-step="4" class="btn btn-default">Next</button>
</div> {{! .signup__step }}
