<div class="signup__step" data-step="9">
  <h2>Choose a password.</h2>
  <input type="password" name="password" placeholder="Password"> <br> <br>
  <div data-error="password"></div>
  <button type="button" data-action="validatePassword">Signup</button>
</div> {{! .signup__step }}
