<div class="signup__step" data-step="4">
  <p>Enter your full name.</p>
  <input type="text" name="full_name" placeholder="Full Name" autofocus> <br> <br>
  <div data-error="full_name" class="help-block"></div>
  <button type="button" data-action="validateFullName" data-next-step="5">Continue</button>
</div> {{! .signup__step }}
