<div class="signup__step" data-step="8">
  <h2>Choose a cool username.</h2>
  <input type="text" name="username" placeholder="Username"> <br> <br>
  <div data-error="username"></div>
  <button type="button" data-action="validateUsername">Next</button>
</div> {{! .signup__step }}
