<div class="signup__step" data-step="1">
  <input type="text" placeholder="Email" name="email" autofocus> <br> <br>
  <button type="button" data-action="validateEmail" data-next-step="2">Next</button> <br> <br>
  <div data-error="email" class="help-block"></div>
</div> {{! .signup__step }}
