<div class="signup__step" data-step="3">
  <p>You are creating an account using this email: {{attributes.email}}.</p>
  <button type="button" data-action="redirectToFirstStep">Use a different email</button> <br> <br>
  <button type="button" data-action="redirectToFourthStep" data-next-step="4">Next</button>
</div> {{! .signup__step }}
