<div class="signup__step" data-step="2">
  <h2>Verify your email</h2>
  <p>We sent you an email to {{email}}. Click the url in the email to continue with the signup process.</p>
  <p><a href="#">Resend signup verification email.</a></p>
</div> {{! .signup__step }}
