<div class="signup__step" data-step="7">
  <h2>Send Invitations.</h2>
  <div class="signup__invitations">
    {{partial "signup-steps/signup-invitation-row" this}}
    {{partial "signup-steps/signup-invitation-row" this}}
    {{partial "signup-steps/signup-invitation-row" this}}
  </div> {{! .signup__invitations }}
  <div data-error="invite_emails"></div>
  <button type="button" data-action="addInvitationRow">Add invitation</button> <br>
  <button type="button" data-action="validateInvitations" data-next-step="8">Next</button>
</div> {{! .signup__step }}
