<div class="signup__step" data-step="4">
  <p>Enter your full name.</p>
  <input type="text" name="full_name" placeholder="Full Name"> <br> <br>
  <div data-error="full_name"></div>
  <button type="button" data-action="validateFullName">Continue</button>
</div> {{! .signup__step }}
