<div class="signup__step" data-step="6">
  <h2>Email Domain.</h2>
  <p><input type="checkbox" name="allow_signup" checked> Allow signup with company email</p>
  <input type="text" name="signup_domains" placeholder="Domains for email" autofocus> <br> <br>
  <div data-error="signup_domains" class="help-block"></div>
  <button type="button" data-action="validateSignupDomains" data-next-step="7">Next</button> or
  <button type="button" data-action="skipSignupDomains">Skip</button>
</div> {{! .signup__step }}
