<div class="signup__step" data-step="5">
  <p>Enter your account name.</p>
  <input type="text" name="account_name" placeholder="Account Name" class="form-control" autofocus> <br> <br>
  <div data-error="account_name" class="help-block"></div>
  <button type="button" data-action="validateAccountName" data-next-step="6" class="btn btn-default">Next</button>
</div> {{! .signup__step }}
