<div class="signup__step" data-step="8">
  <h2>Choose a cool username.</h2>
  <input type="text" name="username" placeholder="Username" class="form-control" autofocus> <br> <br>
  <div data-error="username" class="help-block"></div>
  <button type="button" data-action="validateUsername" data-next-step="9" class="btn btn-default">Next</button>
</div> {{! .signup__step }}
