<div class="signup__step" data-step="2">
  <h2>Verify your email</h2>
  <p>We sent you an email to {{email}}. Click the url in the email to continue with the signup process.</p>
  <p><button type="button" class="btn btn-link" data-action="resendEmailVerification">Resend signup verification email.</button></p>
</div> {{! .signup__step }}
