<div class="signup__step" data-step="7">
  <h2>Send Invitations.</h2>
  <div class="signup__invitations form-inline">
    <div class="form-group">
      {{partial "signup-steps/signup-invitation-row" this}}
    </div>
    <div class="form-group">
      {{partial "signup-steps/signup-invitation-row" this}}
    </div>
    <div class="form-group">
      {{partial "signup-steps/signup-invitation-row" this}}
    </div>
  </div> {{! .signup__invitations }}
  <div data-error="invite_emails" class="help-block"></div>
  <button type="button" data-action="addInvitationRow" class="btn btn-default">Add invitation</button> <br>
  <button type="button" data-action="validateInvitations" data-next-step="8" class="btn btn-default">Next</button>
</div> {{! .signup__step }}
