<div class="accounts-dropdown-current dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {{#with current}}
      {{account-avatar name logo_color}} <span class="account-name lead">{{name}}</span>
    {{/with}}

    {{#if hasMoreAccounts}}<b class="caret"></b>{{/if}}
  </a> {{! [data-toggle="dropdown"] }}

  <ol class="accounts-dropdown-list dropdown-menu accounts-sm" role="menu"></ol>
</div>
