<div class="header clearfix">
  <div class="pull-left">
    <div class="accounts-dropdown-wrapper pull-left"></div>
    <ul class="navigation list-inline pull-left">
      <li class="navigation-item">
        <a href="/" data-route="true" class="navigation-item-link">
          <strong class="navigation-item-text">Boards</strong>
        </a> {{! .navigation-item-link }}
      </li> {{! .navigation-item }}
      <li class="navigation-item">
        <a href="activity/" data-route="true" class="navigation-item-link">
          <strong class="navigation-item-text">Activity</strong>
        </a> {{! .navigation-item-link }}
      </li> {{! .navigation-item }}
    </ul> {{! .navigation }}
  </div> {{! .pull-left }}
  <div class="user-dropdown-wrapper pull-right"></div>
</div> {{! .header }}
