{{#if isSignedIn}}
  <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <img src="{{gravatar_url}}" alt="{{name}}" class="ui-avatar user-avatar">
      <strong class="user-name">{{name}}</strong>
      <b class="caret"></b>
    </a> {{! [data-toggle="dropdown"] }}

    <ul class="dropdown-menu pull-right" role="menu">
      <li><a href="#" data-settings="general">General</a></li>
      {{#if hasTeamAccounts}}
        <li><a href="#" data-settings="accounts">Accounts</a></li>
      {{/if}}
      <li><a href="#" data-settings="notifications">Notiﬁcations</a></li>
      <li><a href="#" data-settings="password">Password</a></li>
      <li><a href="#" data-settings="advanced">Advanced</a></li>
      <li class="divider"></li>
      <li><a href="/signout/" data-route="true">Signout</a></li>
    </ul> {{! .dropdown-menu }}
  </div> {{! .dropdown }}
{{else}}
  <a href="/signin/" data-route="true">Signin</a> or <a href="/" data-route="true">create an account.</a>
{{/if}}
