{{#if isSignedIn}}
  <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <img src="{{gravatar_url}}" alt="{{name}}" class="ui-avatar user-avatar">
      <strong class="user-name">{{name}}</strong>
      <b class="caret"></b>
    </a> {{! [data-toggle="dropdown"] }}

    <ul class="dropdown-menu" role="menu">
      <li><a href="#">General</a></li>
      <li><a href="#">Accounts</a></li>
      <li><a href="#">Notiﬁcations</a></li>
      <li><a href="#">Password</a></li>
      <li><a href="#">Advanced</a></li>
      <li class="divider"></li>
      <li><a href="/signout/" data-route="true">Signout</a></li>
    </ul> {{! .dropdown-menu }}
  </div> {{! .dropdown }}
{{else}}
  <a href="/signin/" data-route="true">Signin</a> or <a href="/" data-route="true">create an account.</a>
{{/if}}
