.accounts {
  padding: 30px;
  width: 600px;

  &.is-loading {
    background: url('../images/loading.gif') no-repeat center center #FFFFFF;
    background-size: 32px;
    height: 400px;

    .accounts-content {
      display: none;
    }
  }
}

@import '_account'
