<div class="signin row is-loading">
  <h1>Blimp Boards <small>Sign in</small></h1>
  <div class="signin-form-container col-md-7"></div>
  <div class="invitation-container col-md-5"></div>
</div> {{! .signin }}
