<div id="signin" class="row is-loading">
  <h1>Blimp Boards <small>Sign in</small></h1>
  <div id="signin-form-container" class="col-md-7"></div>
  <div id="invitation-container" class="col-md-5"></div>
</div> {{! #signin }}
