.home-page {

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 32px;
  }

  &.page-header {
    border:0;
  }
}

.request-signup {
  float: none;
  margin-top: 15px;
}

button.request-signup-btn {
  font-size: 16px;
}

.home-boards-logo {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0;
  color: #000;

  .svg-icon-color {
    fill: #000;
  }
}

.home-screenshot {
  margin-top 40px;
  max-width:100%;
}

.home-logo-row  {
  border-bottom:5px solid #efefef;
}

.home-copy-row {
  text-align:left;
  margin-top: 50px;
}

.home-signup-wrapper {
  margin-top: 10px;
}

.home-body {
  border-top 1px solid #efefef;
  margin-top: 50px;
  padding-top:25px;
}

.home-footer {
  color: #a8bccc;
  text-align:left;
  border-top 1px solid #efefef;
  margin-top: 50px;
  padding-top:25px;
}
