<div class="accounts center-block is-loading">
  <div class="accounts-content">
    <h1 class="accounts-title">Blimp Boards <small>Accounts</small></h1>
    <div class="page-header">
      <h3>Choose an account</h3>
    </div> {{! .page-header }}
    <div class="accounts-list-wrapper accounts-lg"></div>
  </div> {{! .accounts-content }}
</div> {{! .accounts }}
