<div class="form-group">
  <label for="emailInput">Email</label>
  <input name="email" type="text" id="emailInput" class="form-control" autofocus>
  <div data-error="email" class="help-block"></div>
</div> {{! .form-group }}

<div class="form-group">
  <button class="btn btn-success" data-action="recover">Recover</button>
</div> {{! .form-group }}
