<div class="forgot-password center-block">
  <h1 class="forgot-password-title">Blimp Boards <small>Recover your password</small></h1>
  <div class="forgot-password-form-wrapper"></div>
</div> {{! .forgot-password }}
