<div class="header"></div>
<div class="content">
  <div class="sidebar"></div>
  <div class="sub-header clearfix">
    <div class="sub-header-content"></div>
    <div class="sub-header-actions"></div>
  </div>
  <div class="cards"></div>
</div> {{! .content }}
