<div class="header"></div>
<div class="boards">
  <div class="boards__sidebar"></div>
  <div class="boards__content">
    <div class="boards__header"></div>
  </div> {{! .boards__content }}
</div> {{! .boards }}
