{{#each accounts}}
  <li class="accounts__account">
    <a class="accounts__account-link" href="{{url}}" data-route="{{url}}">
      <img class="accounts__account-image" src="{{image}}">
      <span class="accounts__account-name">{{name}}</span>
    </a>
  </li>
{{/each}}
