<div class="container-fluid">
  <div class="row">
    <div class="header col-md-12"></div>
  </div> {{! .row }}
  <div class="row">
    <div class="sidebar col-md-2"></div>
    <div class="col-md-10">
      <div class="sub-header">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-left">
            <div class="sub-header-content navbar-form"></div>
          </div> {{! .navbar-left }}
          <div class="navbar-right">
            <div class="sub-header-actions"></div>
          </div> {{! .navbar-right }}
        </nav> {{! navbar }}
      </div> {{! .sub-header }}
      <div class="cards"></div>
    </div> {{! .col-md-10 }}
  </div> {{! .row }}
</div> {{! .container-fluid }}
