<div class="dropdown">
  <button type="button" data-action="addCard">Add Card</button>
  <div class="dropdown-content card-types">
    <button type="button" data-action="addNote">Note</button>
    <button type="button" data-action="addFile">File</button>
  </div> {{! .dropdown-content }}
</div> {{! .dropdown }}

<button type="button" data-action="addCollaborator">Collaborate</button>
<button type="button" data-action="share">Share</button>
<button type="button" data-action="search">Search</button>
