<div class="board-preview">
  {{partial "board-preview" this}}
</div> {{! .board-preview }}

<form class="board-edit-form form-inline" role="form">
  <input type="text" name="name" value="{{name}}" class="form-control" autofocus>
  <span data-error="name" class="help-block"></span>
  <button data-action="save" class="btn btn-default">Save</button>
  <button data-action="cancel" type="button" class="btn btn-link">Cancel</button>
</form> {{! .board-edit-form }}

<div class="board-actions-hover">
  <button type="button" data-action="edit" class="btn btn-default btn-sm">Edit</button>
  <button data-action="delete" type="button" class="btn btn-link btn-sm">Delete</button>
</div> {{! .board-actions-hover }}
