<div class="boards-sidebar__actions">
  <button type="button" data-action="createBoard">Create Board</button>
</div> {{! .boards-sidebar__actions }}

<form class="create-board"></form>

<ol class="boards-sidebar__boards"></ol>
