<div class="board-preview">
  {{partial "board-preview" this}}
</div> {{! .board-preview }}

<form class="board-edit-form">
  <input type="text" name="name" value="{{name}}" autofocus>
  <span data-error="name"></span>
  <button data-action="save">Save</button>
  <button data-action="cancel" type="button">Cancel</button>
</form> {{! .board-edit-form }}

<div class="board-actions-hover">
  <button type="button" data-action="edit">Edit</button>
  <button data-action="delete" type="button">Delete</button>
</div> {{! .board-actions-hover }}
