<div class="sidebar-actions">
  <button type="button" data-action="create" class="btn btn-default">Create Board</button>
</div> {{! .sidebar-actions }}
<form class="create-board" role="form"></form>
<ol class="boards-list list-unstyled"></ol>
