<div class="card-preview">
  {{partial "card-note-preview" this}}
</div> {{! .preview }}

<div class="row">
  <form class="card-edit-form col-md-6" role="form">
    <div class="form-group">
      <input type="text" name="name" value="{{name}}" class="form-control" autofocus>
      <div data-error="name" class="help-block"></div>
    </div> {{! .form-group }}
    <div class="form-group">
      <textarea name="content" placeholder="Content" class="form-control">{{content}}</textarea>
      <div data-error="content" class="help-block"></div>
    </div> {{! .form-group }}
    <div class="form-group">
      <button data-action="save" class="btn btn-default">Save</button>
      <button data-action="cancel" type="button" class="btn btn-link">Cancel</button>
    </div> {{! .form-group }}
  </form> {{! .card-edit-form }}
</div> {{! .row }}
