<div class="row">
  <form class="create-note col-md-6" role="form"></form>
</div> {{! .row }}
<div class="row">
  <ol class="cards-list col-md-12"></ol>
</div> {{! .row }}
<div class="row">
  <div class="file-uploader-wrapper col-md-12"></div>
</div> {{! .row }}
