<button type="button" data-action="edit" class="btn btn-default">Edit</button>
<button type="button" data-action="highlight" class="btn btn-default">Highlight</button>
<button type="button" data-action="share" class="btn btn-default">Share</button>
<button type="button" data-action="download" class="btn btn-default">Download</button>
<button type="button" data-action="delete" class="btn btn-default">Delete</button>
