<button type="button" data-action="edit">Edit</button>
<button type="button" data-action="highlight">Highlight</button>
<button type="button" data-action="share">Share</button>
<button type="button" data-action="download">Download</button>
<button type="button" data-action="delete">Delete</button>
