<div class="card-preview">
  {{partial "card-preview" this}}
</div> {{! .preview }}

<form class="card-edit-form">
  <input type="text" name="name" value="{{name}}" autofocus>
  <div data-error="name"></div>
  <textarea name="content" placeholder="Content">{{content}}</textarea>
  <div data-error="content"></div>
  <button data-action="save">Save</button>
  <button data-action="cancel" type="button">Cancel</button>
</form> {{! .board-header__form }}
