<input type="text" name="name" placeholder="Title" autofocus>
<div data-error="name"></div>
<textarea name="content" placeholder="Content"></textarea>
<div data-error="content"></div>
<button>Save</button>
<button type="button" data-action="cancel">Cancel</button>
