<div class="form-group">
  <textarea name="content" class="form-control" placeholder="Write a comment..."></textarea>
  <div data-error="content" class="help-block"></div>
</div> {{! .form-group }}
<div class="form-group">
  <button class="btn btn-default">Save</button>
  <button type="button" data-action="cancel" class="btn btn-link">Cancel</button>
</div> {{! .form-group }}
