<div class="form-group">
  <input type="text" name="name" class="form-control" autofocus>
  <div data-error="name" class="help-block"></div>
</div> {{! .form-group }}
<div class="form-group">
  <button class="btn btn-default">Save</button>
  <button type="button" data-action="cancel" class="btn btn-link">Cancel</button>
</div> {{! .form-group }}
