<div class="file-uploader">
  <form action="" method="POST" enctype="multipart/form-data" class="file-uploader-form">
    <input type="hidden" name="key">
    <input type="hidden" name="AWSAccessKeyId">
    <input type="hidden" name="acl" value="public-read">
    <input type="hidden" name="policy">
    <input type="hidden" name="signature">
    <input type="hidden" name="success_action_status" value="200">
    <input type="hidden" name="Content-Type">
    <input type="file" name="file" class="file-uploader-input" multiple>
  </form>
</div> {{! .file-uploader }}
