<div class="forgot-password">
  <h1>Recover Password</h1>
  <input type="text" class="forgot-password__email-field" placeholder="Email">
  <div class="forgot-password__email-error"></div>
  <button type="button" data-action="sendPasswordRecoveryEmail">Recover</button>
</div> {{! .forgot-password }}
