<div class="forgot-password">
  <h1>Recover Password</h1>
  <form class="forgot-password__form">
    <input type="text" name="email" placeholder="Email" autofocus>
    <div data-error="email"></div>
    <button>Recover</button>
  </form>
</div> {{! .forgot-password }}
