<div class="reset-password">
  <h1>Reset Password</h1>
  <form class="reset-password__form">
    <input type="password" name="password" placeholder="Password" autofocus>
    <div data-error="password"></div>
    <button data-action="resetPassword">Reset</button>
  </form>
</div> {{! .reset-password }}
