<input type="password" name="password" placeholder="Password" autofocus>
<div data-error="password" class="help-block"></div>
<button data-action="resetPassword" class="btn btn-default">Reset</button>
