<div class="reset-password">
  <h1>Reset Password</h1>
  <input type="password" class="reset-password__password-field" placeholder="Password">
  <div class="reset-password__password-error"></div>
  <button type="button" data-action="resetPassword">Reset</button>
</div> {{! .reset-password }}
