<div class="signup__step" data-step="6">
  <h2>Email Domain.</h2>
  <p><input type="checkbox" data-model-attribute="allow_signup" checked> Allow signup with company email</p>
  <input type="text" data-model-attribute="signup_domains" placeholder="Domains for email"> <br> <br>
  <div data-model-attribute-error="signup_domains"></div>
  <button type="button" data-action="validateSignupDomains">Next</button> or <button type="button" data-action="skipSignupDomains">Skip</button>
</div> {{! .signup__step }}
