<input type="text" placeholder="Username" data-model-attribute="username"> <br> <br>
<div data-model-attribute-error="username"></div>
<input type="password" placeholder="Password" data-model-attribute="password"> <br> <br>
<div data-model-attribute-error="password"></div>
<button data-action="signin">Signin</button> <br> <br>
<a href="/forgot_password/" data-route="true">Forgot password</a>
