<div class="signup__step" data-step="1">
  <input type="text" placeholder="Email" data-model-attribute="email"> <br> <br>
  <button type="button" data-action="validateEmail">Next</button> <br> <br>
  <div data-model-attribute-error="email"></div>
</div> {{! .signup__step }}
