<input type="text" placeholder="Username" name="username" autofocus> <br> <br>
<div data-error="username"></div>
<input type="password" placeholder="Password" name="password"> <br> <br>
<div data-error="password"></div>
<button data-action="signin">Signin</button> <br> <br>
<a href="/forgot_password/" data-route="true">Forgot password</a>
