<div class="signup__step" data-step="5">
  <p>Enter your account name.</p>
  <input type="text" data-model-attribute="account_name" placeholder="Account Name"> <br> <br>
  <div data-model-attribute-error="account_name"></div>
  <button type="button" data-action="validateAccountName">Next</button>
</div> {{! .signup__step }}
