<input type="text" placeholder="Username" name="username" autofocus> <br> <br>
<div data-error="username" class="help-block"></div>
<input type="password" placeholder="Password" name="password"> <br> <br>
<div data-error="password" class="help-block"></div>
<button data-action="signin" class="btn btn-default">Signin</button> <br> <br>
<a href="/forgot_password/" data-route="true">Forgot password</a>
