<ul class="nav navbar-nav">
{{!--   <li class="dropdown">
    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle navbar-btn">
      Add Card <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><button type="button" data-action="addNote" class="btn btn-link">Note</button></li>
      <li><button type="button" data-action="addFile" class="btn btn-link">File</button></li>
    </ul>
  </li> {{! .dropdown }} --}}
  <li>
    <button type="button" data-action="unstack" class="btn btn-default navbar-btn">Unstack</button>
  </li>
  <li>
    <button type="button" data-action="delete" class="btn btn-danger navbar-btn">Delete</button>
  </li>
</ul>
