<div class="board-header-preview">
  <button type="button" data-action="edit" class="btn btn-default">Edit</button>
  <img src="{{thumbnail_sm_path}}" class="board-header__image" width="30" height="30">
  <h1 class="board-header__title">{{name}}</h1>
</div> {{! .board-header-preview }}

<form class="board-header-form">
  <input type="text" name="name" value="{{name}}" autofocus>
  <span data-error="name" class="help-block"></span>
  <button data-action="save" class="btn btn-default">Save</button>
  <button data-action="cancel" type="button" class="btn btn-default">Cancel</button>
  <button data-action="delete" type="button" class="btn btn-default">Delete</button>
</form> {{! .board-header-form }}

<div class="board-header-actions">
  <button type="button" data-action="createCard" class="btn btn-default">Add Card</button>
</div> {{! .actions }}
